<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.test.UpdateTrainee"/>
      <class name="com.test.PatchTrainee"/>
      <class name="com.test.OptionTest"/>
      <class name="com.test.DeleteTrainee"/>
      <class name="com.test.CreateTrainee"/>
      <class name="com.test.GetTrainee"/>
      <class name="com.test.InvalidLogin"/>
      <class name="com.test.LoginTest"/>
      <class name="com.test.InvalidGetTrainee"/>
      <class name="com.test.HeadTraineeTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
